body,
html {
    height: 100%;
}

body {
    font-size: 18px;
    font-family: serif;
}

h1 {
    background-color: #a52a2a;
    text-align: center;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    max-width: 760px;
    margin: 0 auto;
    flex: 1 1 auto;
}

table {
    border-spacing: 3px;
    margin: 0 auto;
}

.cars {
    border: 3px dashed black;
}

.footer {
    background-color: #000000;
    font-size: 20px;
    color: white;
    text-align: center;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.blue {
    color: blue;
}
