.container {
    position: relative;
    max-width: 903px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 170px 20px 180px;
    box-sizing: border-box;
    text-align: center;
}

.container_border {
    border: 1px solid $dark-color;
    border-top: none;

    &::before,
    &::after {
        content: "";
        width: 30%;
        height: 1px;
        position: absolute;
        top: 0px;
        background-color: $dark-color;
    }

    &::before {
        left: -1px;
    }

    &::after {
        right: -1px;
    }
}
